# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Output files
data/output/*
!data/output/.gitkeep
