# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/*
build/*

# SAM
.DS_Store
.aws-sam

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
lambda_layer/.venv
venv/
env/

# IDE
.vscode/
.idea/

# Input and Output files
data/output/*
data/input/*
!data/output/.gitkeep
!data/input/.gitkeep

# Vector Database
vector_db/*
!vector_db/.gitkeep